.ipynb_checkpoints
backup/
image_classifier/
image_regressor/
structured_data_classifier/
structured_data_regressor/
text_classifier/
text_regressor/
auto_model/
io_api_multitask/
io_api_multimodal/
avletters/
*.zip
*.csv
*.h5
*.png
