autokeras==1.0.20
keras-tuner==1.2.0
numpy==1.23.0
pandas==1.5.3
scikit-learn==1.2.1
scipy==1.10.0
tensorflow==2.10.0
matplotlib==3.4.3
seaborn==0.11.2
pydotplus==2.0.2
graphviz==0.17
lightgbm==3.3.2
